@CHARSET "UTF-8";
	.nextLab{
		font-size: 12px;
		position: relative;
		float:right;
		width: 50px;
		cursor: pointer;
	}
	.lastLab{
		font-size: 12px;
		position: relative;
		float:left;
		width: 50px;
		cursor: pointer;
	}
	.msg_num{
		font-size: 12px;
		position: relative; 
		float:left;
		width: 15px;
	}
	.msg_div{
		font-size: 12px;
		margin-top: 15px;
		height:80%;
	}
	.msg_main_div{
		border: 1px solid #adbec7;
		width: 200px;
		height:150px;
		position: absolute;
		top: 100%;
		left:100%;
		margin-left: -200px;
		margin-top: -150px;
		display:none;
	}